/* GENERAL CLASSES */

.wrapper {
  width: 80%;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.item {
  max-width: 400px;
  flex: 1;
  min-width: 300px;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

/* GENERAL STYLING */

h1 {
  padding: 0;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

li {
  padding: 0;
  display: flex;
  background-color: #ccc;
  border: 2px solid #222;
  justify-content: center;
  width: 50%;
  margin: 6px;
}

form {
  max-width: 600px;
  align-items: center;
}

.filter {
  margin: 24px;
  max-width: 300px;
  justify-content: center;
}

.remove {
  margin: 6px;
}

.form-item {
  margin: 5px;
}

.add-new {
  max-width: 115px;
}